### LOG Levels: 3=DBG, 2=INFO, 1=NOTICE, 0=WARN, -1=ERR
debug=2
log_stderror=yes

memdbg=5
memlog=5

log_facility=LOG_LOCAL0
log_prefix="{$mt $hdr(CSeq) $ci} "

/* number of SIP routing processes */
children=2

/* uncomment the next line to disable TCP (default on) */
#disable_tcp=yes

/* uncomment the next line to disable the auto discovery of local aliases
 * based on reverse DNS on IPs (default on) */
# auto_aliases=no

/* add local domain aliases */
# alias="sip.mydomain.com"

/* listen addresses */
#!substdef "!PUBLICIP!$env(PUBLICIP)!"
#!substdef "!COREIP!$env(COREIP)!"
#!substdefs "!CORESUBNET!$env(CORESUBNET)!"

#!substdef "!UDPPORT!$env(UDPPORT)!"
#!substdef "!TLSPORT!$env(TLSPORT)!"

#!substdef "!PUPLIC_UPD_SOCKET!udp:PUBLICIP:UDPPORT!"
#!substdef "!CORE_UPD_SOCKET!udp:COREIP:UDPPORT!"

#!substdef "!PUBLIC_TLS_SOCKET!tls:PUBLICIP:TLSPORT!"


#!substdef "!DBHOST!$env(DBHOST)!"
#!substdef "!DBUSER!$env(DBUSER)!"
#!substdef "!DBPASS!$env(DBPASS)!"
#!substdef "!DBNAME!$env(DBNAME)!"
#!define DBURL "mysql://DBUSER:DBPASS@DBHOST/DBNAME"

listen=PUPLIC_UPD_SOCKET
listen=PUBLIC_TLS_SOCKET
listen=CORE_UPD_SOCKET
