#Add xheaders
route[SET_XHEADERS]
{
	if(!is_method("INVITE")){
		return(-1);
	}
	append_hf("X-Source-IP: $si\r\n", "Call-ID");
	if(isflagset(FLT_FROM_CORE)) {
		append_hf("X-Direction-Flag: From-CORE\r\n", "CSeq");
		return 1;
	}
	append_hf("X-Direction-Flag: From-Public\r\n", "CSeq");
	return(1);
}